<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"  href="/views/icon-arg.ico">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>

<body>
    <img src="./images/logonuevo.png" class="imagen" alt="logo">
    <h1> Iniciar sesion</h1>
   
    <main class="contenedor__main">
        <form action="/login" method="POST" class="contenedor__form">
            <input class="form__input" type="email" name="email" placeholder="Email">
            <input class="form__input" type="password" name="password" placeholder="Password">
            <input class="form__input" type="submit">
            <p class="form__registro">¿No tienes una cuenta?</p><button onclick="location.href='/registro'" type="button" class="form__registro">Crea una Cuenta Nueva</button>
        </form>
    </main>
</body>

</html>