<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>

<body>
    <h1> Iniciar sesion</h1>

    <main class="contenedor__main">
        <form action="/login" method="POST" class="contenedor__form">
            <input class="form__input" type="email" name="email" placeholder="Ingrese su Email para Registrarse">
            <input class="form__input" type="password" name="password" placeholder="Ingrese su Password para Registrarse">
            <input class="form__input" type="submit">
        </form>
    </main>
</body>

</html>